@import url('https://fonts.googleapis.com/css?family=Lato')

// define variables for the font, colors and other properties frequently used in the project
font-main = 'Lato', sans-serif
black = #252525
white = #fff
filter-shadow = drop-shadow(0 1px 5px rgba(black, 0.5))
transition-cubic = all 0.3s cubic-bezier(.22,-0.3,.68,1.44)

// define a mixin for button elements, to remove the default styling
.button-reset 
    background none 
    border none 
    font-family inherit 
    color inherit 

// define a mixin for anchor link elements, to remove the underline and alter the color to the chosen hue
.anchor-links-reset 
    text-decoration none 
    color inherit

// define a mixin for the tooltip displayed on hover on particular span elements
.tooltip-style
    background black 
    color white
    padding 0.3rem 0.5rem
    border-radius 12px
    font-size 1.05rem
    filter filter-shadow
*
    box-sizing border-box
    margin 0
    padding 0
  
body
    min-height 100vh
    width 100%
    font-family font-main
    color black
    background white 

.container 
    // properties for the container 

    nav.navbar
        // display the contents of the navigation bar in a single row, fixed at the top of the page
        position fixed
        top 0
        left 0
        // width 100% to extend the fixed navbar across the entirety of the div.container 
        width 100%
        // center the contents vertically (aligning the anchor link elements with the SVG asset)
        display flex 
        align-items center
        // background white to superimpose the navigation bar on the rest of the page
        background white
        // padding to separate the content of the navigation bar from the edges of the surrounding window
        padding 0.8rem 1.2rem
        // z-index to lay the navbar atop the rest of the page
        z-index 10

        svg.navbar__logo 
            // include dimensions following the ratio defined by the svg itself
            width 56px
            height @width*0.56

        span.navbar__whitespace
            // expand the span.whitespace to push the surrounding content to the left and to the right
            flex-grow 1

        button.navbar__toggle-links
            // extend the styles defined in the button-reset mixin
            @extends .button-reset
            // arbitrary height and width to create three lines of the same width, separated at the beginning, middle and end of the button
            height 14px
            width 22px
            // position relative to absolute position the nested span elements, intermittently
            // span elements are defined in the media query, where they need to be displayed
            position relative
            // display none to hide the button by default (and show it on mobile devices)
            display none
                    
        div.navbar__links
            // display the links in a row, following the pattern of the navigation bar
            display flex 
            // align the anchor links vertically
            align-items center
            line-height 1.5
            
            a
                // extend the style defined by the anchor-link-reset mixin
                @extends .anchor-links-reset
                // margin to separate the anchor links from each other
                margin 0 1rem
                text-transform uppercase
                // position relative to absolute the pseudo-element beneath the anchor links
                position relative

                &:before 
                    // include a line below each anchor link, animated on hover to appear from the bottom center of each element
                    content ''
                    position absolute
                    bottom -1.8px
                    left 50%
                    height 1.8px
                    width 0
                    background black
                    // transition for the hover state (hover on the element which affects the pseudo-element)
                    transition all 0.3s ease

                &:hover:before 
                    left 0
                    width 100%


    section.welcome
        // reduce the width of the container
        max-width 800px
        // margin to distance the section from the navigation bar and the underlying section
        // horizontal margin to also center the section
        margin 25vh auto 20vh
        // padding to distance the contents from the borders of the section and of the surrounding window
        padding 0 2rem

        figure.welcome__profile-img
            // float the image to the left of the parent container and include a shape-outside property to let the neighboring text coast on the circle created with the border-radius property
            float left
            border-radius 50%
            shape-outside circle()
            // margin to distance the image from the text right next to it
            margin 2rem
            // position relative to absolute position the connected pseudo-element, used to create a tooltip on hover 
            position relative 

            &:before
                // position the tooltip to be display on hover, atop the image
                content 'Nice Picture'
                position absolute 
                top 0
                left 1rem
                // include some style shared by all tooltip in the page
                @extend .tooltip-style
                // opacity 0 by default, and altered on hover
                opacity 0
                // transition with an easing function also specified in a variable
                // transition for the properties of top and opacity
                transition transition-cubic

            &:hover:before
                top -35px
                opacity 1

            img
                // create a round image to match the round container
                width 200px
                height 200px
                border-radius 50%
                // drop shadow specified by the variable
                filter filter-shadow
                

        div.welcome__profile-txt
            line-height 1.8
            font-size 1.3rem

            span.profile-txt__name
                font-weight bold
                // position relative to absolute position the connecting pseudo element(s) 
                position relative 

                &:before
                    // position the tooltip atop the span element
                    content 'Do wear it out'
                    position absolute 
                    top -1rem
                    right 0
                    @extends .tooltip-style
                    // gain the font-weight of normal, not the bold style of the connected span
                    font-weight initial
                    filter filter-shadow
                    // opacity 0 by default, and altered on hover
                    opacity 0
                    // transition the properties of top and opacity
                    transition transition-cubic

                &:hover:before
                    top -2.8rem
                    opacity 1

                &:after
                    // position an down-facing arrow right to the bottom of the tooltip
                    content ''
                    position absolute 
                    top -5px
                    left 0
                    // create a triangle pointing down with border properties
                    border-left 10px solid transparent
                    border-right 10px solid transparent
                    border-top 10px solid black
                    border-bottom 10px solid transparent
                    filter filter-shadow
                    // hide the element by default
                    opacity 0

                &:hover:after
                    // transition the property of opacity and left, with a small delay
                    // include the transition property with the hover selector to have the transition occur only as the mouse enters the element
                    // as the mouse exits the element, there is no transition to hide the element
                    opacity 1
                    left 70%
                    transition transition-cubic
                    transition-delay 0.2s

    section#stack
        // center the section in the middle of the viewport, while limiting its width 
        max-width 700px
        margin 0 auto 2rem
        min-height 100vh
        // padding to distance the section from the surrounding window and allow the anchor link to redirect to the correct vertical coordinate 
        padding 4rem 2rem

        p
            text-align center 
            font-size 1.3rem
            line-height 1.8
            margin 1rem 0

            span.stack__webdev
                // include a tooltip for the selected keyword(s), like in the welcome section
                // see previous comments which describe the use of the pseudo-element(s)
                position relative
                font-weight bold

                &:before
                    content '10 months and counting'
                    position absolute 
                    top 0
                    right 0
                    @extend .tooltip-style
                    opacity 0
                    transition transition-cubic
                    font-weight initial

                &:hover:before
                    top -45px
                    opacity 1

                &:after
                    content ''
                    position absolute 
                    top -5px
                    left 10%
                    border-left 10px solid transparent
                    border-right 10px solid transparent
                    border-top 10px solid black
                    border-bottom 10px solid transparent
                    filter filter-shadow
                    opacity 0

                &:hover:after
                    opacity 1
                    left 80%
                    transition transition-cubic
                    transition-delay 0.2s


        div.stack__icons
            // for the svg icons, display them in a wrapping row (change the disposition on large devices with a media query)
            display flex 
            flex-wrap wrap 
            // center the icons horizontally (especially for the last icon)
            justify-content center
        
            svg
                width 90px
                height @width
                margin 12px

                &:last-of-type
                    // rotate the tool's icon to visually separate the section from the rest of the page
                    transform rotate(90deg)

    section#projects 
        // center the contents of the projects section in the page, in a single column layout (the div nesting the projects will lay them in rows, but said rows are positioned vertically with respect to the surrounding text)
        min-height 100vh
        display flex 
        flex-direction column
        justify-content center 
        // padding similar to the section regarding the technology stack
        padding 4rem 2rem
        
        p
            // limit the width of the paragraph element, reducing the number of words in a single line
            max-width 600px
            // a tad of vertical margin to distance the paragraphs slightly from each other
            margin 0.5rem auto
            text-align center 
            font-size 1.3rem
            line-height 1.8

            span.projects__several
                // include a tooltip for the selected keyword, like in the welcome section
                // see previous comments which describe the use of the pseudo elements
                position relative
                font-weight bold

                &:before
                    position absolute 
                    right 0
                    @extend .tooltip-style
                    opacity 0
                    transition transition-cubic
                    font-weight initial
                    content 'A few indeed'
                    top 0
                &:hover:before
                    top -45px
                    opacity 1

                &:after
                    content ''
                    position absolute 
                    top -5px
                    left 10%
                    border-left 10px solid transparent
                    border-right 10px solid transparent
                    border-top 10px solid black
                    border-bottom 10px solid transparent
                    filter filter-shadow
                    opacity 0

                &:hover:after
                    opacity 1
                    left 80%
                    transition transition-cubic
                    transition-delay 0.2s

        div.projects__showcase 
            // display the projects in a single column layout
            display flex 
            flex-direction column
            // center items horizontally 
            align-items center
        
            .showcase--description
                padding 2.2rem
                margin 2rem 0
                // limit the width of the card which described the project
                max-width 300px
                // give a light shadow to visually remark the presence of a card
                box-shadow 0 1px 5px rgba(black, 0.5)
                // display the svg icon and the short paragraph describing the project in a single column layout
                display flex 
                flex-direction column

                svg 
                    // reduce the opacity of the image
                    opacity 0.3
                    // separate the image from the paragraph below
                    margin-bottom 1rem
                    // transition for the change in opacity, on hover
                    transition opacity 0.2s ease-out

                &:hover svg 
                    opacity 0.5

                p
                    font-style italic
                    font-size 1.2rem

            .showcase--actions
                // disply the anchor link and the button in a single row layout
                display flex 
                // reset the style of the anchor link and of the button
                a 
                    @extends .anchor-links-reset 
                button 
                    @extends .button-reset  
                    cursor pointer                

                // style the anchor link and the button in much the same way
                a, button
                    padding 1rem 1.2rem
                    // margin to separate the elements from each other
                    margin 0 1rem
                    // box shadow matching the div above (which is connected to the elements)
                    box-shadow 0 1.5px 3px rgba(black, 0.5)
                    // transition for the hover state
                    transition all 0.2s ease-out
                    font-size 1.1rem
                    text-align center
                    line-height 1.4

                    &:hover
                        // on hover flip the color of the text and of the background
                        background black
                        color white


    section#contacts 
        // center the contents of the contacts section in the page, in a single column layout
        min-height 100vh
        display flex 
        flex-direction column 
        justify-content center
        // padding similar to the section regarding the technology stack
        padding 4rem 2rem

        p
            // paragraph styled similarly to the previous sections
            max-width 500px
            margin 0 auto
            text-align center 
            font-size 1.3rem
            line-height 1.8

            span.contacts__notice 
                // include a tooltip for the selected keyword, like in the welcome section
                // see previous comments which describe the use of the pseudo elements
                position relative
                font-weight bold

                &:before
                    content '😉✌'
                    position absolute 
                    bottom 0
                    right 0
                    @extend .tooltip-style
                    opacity 0
                    transition transition-cubic
                    font-weight initial

                &:hover:before
                    bottom -45px
                    opacity 1


        .contacts__icons
            // display the anchor link elements in a single wrapping row
            display flex 
            justify-content center 
            align-items center 
            flex-wrap wrap 
            // margin to distance the icons from the text above
            margin 1.5rem 0

            a
                width 80px
                height @width
                border-radius 50%
                margin 25px
                // position relative to absolute position the pseudo-element used to create the hover animation
                position relative
                // background to give the cut-out portions of the svg icons a white background
                background white

                &:before
                    // the psudo-element creates a circle of the same size of the anchor link, but with a different background 
                    content ''
                    position absolute 
                    top 0
                    left 0
                    bottom 0
                    right 0
                    border-radius 50%
                    background rgba(black, 0.5) 
                    z-index -5
                    
                &:hover:before
                    // on hover, include an animation which expands the circle and changes the background color to be completely transparent
                    animation pulse 1.5s infinite ease-out
                
                svg  
                    // expand the svg to completely take the size of the parent anchor link elements
                    width 100%
                    height 100%

    footer 
        // center the contents in the middle of the page
        display flex 
        justify-content center 
        // align items vertically, to align the paragraph with the span element 
        align-items center 
        // background of the chosen hue for black, with white text
        background black 
        color white 
        // padding to distance the contents from the surrounding window 
        padding 1rem 1.5rem

        span 
            // with the span element include a square and rotate it 45 degrees to provide the basis for the heart-shaped icon
            width 15px
            height 15px
            background white 
            // margin to horizontally space out the surrounding text
            margin 0 0.8rem
            // with pseudo element create two circles and position them at either end of the rotated square, as to create a heart-shape icon
            position relative 
            transform rotate(45deg)
            
            &:before, &:after
                content ''
                position absolute 
                width 15px
                height 15px 
                border-radius 50%
                background white 
            &:before
                // the parent element is rotated 45 degrees and therefore, including a bottom value pushes the element to the top right of the screen
                bottom 60%
                right 0
            &:after
                bottom 0
                right 60%
            

        a
            @extends .anchor-links-reset 
                
@keyframes pulse 
    50%, 100%
        top -1.5rem
        left -1.5rem
        bottom -1.5rem
        right -1.5rem
        background rgba(black, 0) 

                    

@media screen and (max-width: 650px)
    // for small screen devices 
    // instructions for the navigation bar
    .container nav.navbar button.navbar__toggle-links 
        // display the toggle button 
        display inline-block
        // set transition for the rotation occurring when the button is clicked
        transition all 0.3s ease

        span 
            // create lines with the three span elements and position them at equal distance from each other, in the parent button
            width 22px 
            height 2px 
            background black
            position absolute
            top 0 
            left -3px
            // include a transition to alter the property of left when the toggle is switched to active
            transition left 0.2s ease

            &:nth-of-type(2)
                top 7px
                left 0
            &:nth-of-type(3)
                top 14px
                left 3px

        &.toggle-button-active 
            // define a class for the button, which is toggled in the JS script when the button is clicked
            // for the toggle button, transform it and its contents to have three vertical lines lined up one after another
            transform rotate(90deg)

            span
                left 0

    .container nav.navbar div.navbar__links
        // change the layout of the anchor links to display them in a single column layout, in a div spanning the entire width and height of the viewport, below the navigation bar
        position absolute
        // push the panel below the visible logo and toggle button, which occupy the height of the svg (56px*0.56) + the padding (0.8rem on each side)
        top calc(56px * 0.56 + 1.6rem)
        left 0
        width 100%
        height 100vh
        // padding to separate the anchor links from the surrounding window (and have the anchor links match the SVG logo horizontally)
        padding 0 1rem
        flex-direction column
        align-items flex-start
        // background white to superimpose the panel on the rest of the page
        background white
        // by default move the panel out of sight, to the right of the screen
        transform translateX(100%)
        // set visibility hidden to remove the panel from reach
        visibility hidden
        // transition to alter the horizontal position and visibility of the panel, when the toggle button is pressed
        transition all 0.3s ease

        a
            // separate the anchor links from one another (as they are displayed vertically in a column)
            margin 0.5rem 0

            &:before 
                // show the faux-border-bottom (and not as a consequence of a hover event like previously stated by default)
                left 0
                width 100%
                transition none

        &.panel-active
            // for the div containing the anchor link elements, transform it to display it in the screen, when the toggle button is pressed
            transform translateX(0)
            visibility visible

    .container section.welcome
        // increase the spacing between the section and the vertical neighbours 
        margin 5rem auto

    .container section#projects div.projects__showcase  .showcase--actions
        // show the actions connected to the projects' card in a single column layout
        flex-direction column

        a, button
            // increase vertical spacing between the elements (which would otherwise be connected)
            margin 0.5rem 0

@media screen and (max-width: 400px)
    // for (very) small screen sizes display image and text in a single column layout (one on top of the other)
    .container section.welcome
        display flex 
        flex-direction column 
        justify-content center 
        align-items center

@media screen and (min-width: 700px)
    // for large screens, display the SVG icons as orbiting around the center of the screen
    .container section#stack
        width 700px
        height @width

        div.stack__icons
            // position relative to absolute position the svg icons 
            position relative 
            height 100%
            width 100%
            // margin 0 to get the svg icons close to the connetected paragraph element
            margin 0

            svg
                position absolute 
                width 90px
                height @width
                // lighter drop shadow for the icons in the technology stack section
                filter drop-shadow(0px 1px 4px rgba(0,0,0,0.1))
                // center the icons in the middle of the parent container
                top calc(50% - 45px)
                left @top

                &:last-of-type
                    // for the last icon, position it in the center of the circle, and move the remaining icons around it 
                    height 150px
                    width 60px
                    top calc(50% - 75px)
                    left calc(50% - 30px)
                    transform rotate(-45deg)
                    // transition triggered when a cursor hovers on the svg section
                    transition transform 0.3s cubic-bezier(.2,-0.32,.76,1.48)

            &:hover svg:last-of-type
                transform rotate(-75deg)
                    
            for icon in 1..12
                // for all svg icons (excluding the last one)
                svg:nth-of-type({icon})
                    // position them around the center, at different coordinates, to visually create a circle
                    // rotate rotates the icon in the center
                    // translateX moves the icon horizontally and on the basis of the rotation
                    // rotate with an opposite value of the first instance rotates the icon in place, back to the correct inclination
                    transform rotate(360deg/12*icon) translateX(250px) rotate(-360deg/12*icon)

@media screen and (min-width: 1400px) 
    // for (very) large screen sizes, increase the font-size of the text and the width of the parent section
    .container section.welcome
        max-width 1000px
