/* import font(s) */
@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,900");

/* detail root variables */
:root {
  --font: "Maven Pro", sans-serif;
  --color-text: hsl(0, 0%, 20%);
  --color-accent: hsl(9, 100%, 5%);
  --color-accent-l: hsl(8, 59%, 81%);
  --color-bg: hsl(0, 0%, 95%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* describe fluid typography, increasing the copy's size from 400px wide viewports to 1200px wide viewports */
html {
  font-size: calc(18px + (22 - 18) * (100vw - 400px) / (1200 - 400));
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font);
  color: var(--color-text);
  /* atop a solid background include a texture for the entire page */
  background: url("data:image/svg+xml,%3Csvg opacity='0.3' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' width='500' height='500'%3E%3Cg fill='none' stroke='hsl(0, 0%25, 80%25)' stroke-width='1'%3E%3Cpath stroke-dasharray='2' d='M 20 0 v 50' /%3E%3Cpath stroke-dasharray='2' d='M 30 50 v -10 h 10 v -10' /%3E%3Cpath stroke-dasharray='2' d='M 0 20 h 5 v -5 h 5 v 15 h 10' /%3E%3Cpath stroke-dasharray='2' d='M 50 20 h -10 v -5 h -10 v 15 h -10' /%3E%3Cpath stroke-dasharray='2' d='M 0 45 h 10 v -5' /%3E%3Cpath stroke-dasharray='2' d='M 50 45 h -15' /%3E%3Cpath stroke-dasharray='2' d='M 10 50 v -5' /%3E%3Cpath stroke-dasharray='2' d='M 10 0 v 10' /%3E%3Cpath stroke-dasharray='2' d='M 40 0 v 15' /%3E%3Cpath stroke-dasharray='2' d='M 40 50 v -5' /%3E%3Cpath stroke-dasharray='2' d='M 30 0 v 5' /%3E%3C/g%3E%3Ccircle fill='hsl(0, 0%25, 80%25)' cx='40' cy='30' r='1.5' /%3E%3Ccircle fill='hsl(0, 0%25, 80%25)' cx='20' cy='30' r='1.5' /%3E%3Ccircle fill='hsl(0, 0%25, 80%25)' cx='10' cy='40' r='1.5' /%3E%3Ccircle fill='hsl(0, 0%25, 80%25)' cx='35' cy='45' r='1.5' /%3E%3Ccircle fill='hsl(0, 0%25, 80%25)' cx='10' cy='10' r='1.5' /%3E%3Ccircle fill='hsl(0, 0%25, 80%25)' cx='30' cy='5' r='1.5' /%3E%3C/svg%3E"),
    var(--color-bg);
  background-size: 80px, 100%;
  background-repeat: repeat, no-repeat;
}

/* GLOBAL */
/* adjust the font-size for the selected headings, to feature them more prominently in the page */
h1 {
  font-size: calc(42px + (72 - 42) * (100vw - 400px) / (1200 - 400));
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: var(--color-accent);
}
h3 {
  font-size: calc(26px + (36 - 26) * (100vw - 400px) / (1200 - 400));
  font-weight: 500;
}
strong {
  color: var(--color-accent);
}
svg {
  pointer-events: none;
}

/* MAIN */
/* stretch the main area to span at least the entire vertical viewport */
main {
  min-height: 100vh;
  padding: 5vh 5vw;
  /* display the figure and text-based elements in a centered row */
  display: flex;
  justify-content: center;
  align-items: center;
}
figure {
  /* cap the width of the image */
  max-width: 220px;
  margin: 1rem 2.5rem;
  width: 60vw;
  /* through a pseudo element add a small drop shadow, expanded on hover */
  position: relative;
}
figure:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background: var(--color-accent-l);
  border-radius: 50%;
  /* run the pulse animation once, as the page loads */
  animation: pulse 1.5s 1s 1 ease-out;
}
/* on hover add a simple animation which expands the halo and renders it transparent */
figure:hover:before {
  animation: pulse 1.5s infinite ease-out;
}
@keyframes pulse {
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

img {
  /* clip the image with a simple shape */
  clip-path: circle();
  width: 100%;
  height: 100%;
}
/* , display each text-based elements atop one another */
header {
  display: flex;
  flex-direction: column;
  text-align: right;
  /* limit the length of the text-based elements' sentences */
  max-width: 500px;
  width: 80vw;
}
header h3 {
  margin: 1.5rem 0;
}
header p {
  text-transform: uppercase;
  line-height: 2;
}
/* on smaller viewports
- display the figure and text-based elements in a column
- center the h1 heading
- reduce the h1 heading's letter-spacing
*/
@media (max-width: 700px) {
  main {
    flex-direction: column;
  }
  h1 {
    text-align: center;
    letter-spacing: -0.03rem;
  }
}
/* SECTION.TRANSITION */
.transition {
  min-height: 70vh;
  padding: 5vh 5vw;
  /* detail the intermittent container to be smaller than the most prominent sections */
  display: flex;
  /* display the text-based elements one atop the other, and centered */
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* include a simple border atop and below, delimiting the area */
  border-top: 0.4rem solid var(--color-text);
  border-bottom: 0.4rem solid var(--color-text);
  /* position relative to absolute position the pseudo elements */
  position: relative;
  /* include the texture for the intermittent containers */
  background: url("data:image/svg+xml,%3Csvg opacity='0.5' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cpath fill='hsl(0, 0%25, 80%25)' id='a' d='M-10 0A10 10 0 000-10 10 10 0 0010 0 10 10 0 000 10 10 10 0 00-10 0'/%3E%3C/defs%3E%3Cuse href='%23a' transform='matrix(.4 0 0 .4 25 25)'/%3E%3Cuse href='%23a' transform='matrix(.7 0 0 .7 75 25)'/%3E%3Cuse href='%23a' transform='matrix(.35 0 0 .35 75 75)'/%3E%3Cuse href='%23a' transform='matrix(.6 0 0 .6 25 75)'/%3E%3C/svg%3E"),
    var(--color-bg);
  background-size: 80px, 100%;
  background-repeat: repeat, no-repeat;
  background-position-y: -150px, 0;
  background-position-x: -300px, 0;
}
/* remove whitespace for the last intermittent container, as it closes the page */
.transition:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* for the same container remove also the final pseudo element */
.transition:last-child:after {
  border: none;
}
/*
through pseudo elements detail two arrows, pointing outwards
this to detail the sections to which the intermittent containers' are related
*/
.transition:before,
.transition:after {
  position: absolute;
  content: "";
  left: 50%;
  transform: translate(-50%, 0);
  border-right: 0.75rem solid transparent;
  border-left: 0.75rem solid transparent;
}
.transition:before {
  border-top: 0.75rem solid transparent;
  border-bottom: 0.75rem solid var(--color-text);
  /* 100% + 0.4rem to account for the borders of the section.transition */
  bottom: calc(100% + 0.4rem);
}
.transition:after {
  border-top: 0.75rem solid var(--color-text);
  border-bottom: 0.75rem solid transparent;
  top: calc(100% + 0.4rem);
}
/* increase the whitespace around the heading elements */
.transition h2 {
  margin: 1rem;
  font-weight: 300;
}
.transition h2:last-child {
  margin-top: 3rem;
}

/** SECTION.PROJECT */
/* display the icon and the article for the project in a row  */
.project {
  min-height: 90vh;
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* display article describing the project and the div nesting the controls one atop the other */
.project__project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  line-height: 2;
  width: 600px;
}
/* display the icons for the technology stack in a wrapping row */
.project--info ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 0;
}
.project--info ul li {
  margin: 0.5rem;
}
.project--info ul li svg {
  width: 78px;
  height: 78px;
}
/* display the anchor link element and button side by side */
.project--controls {
  display: flex;
  justify-content: space-around;
  /* width stretching the div to the width of the parent container */
  width: 100%;
}
/* vertically center the content of the anchor link and button elements */
.project--controls a,
.project--controls button {
  display: flex;
  align-items: center;
  opacity: 0.7;
  font-size: 0.9rem;
  font-weight: bold;
  /* transition for the hover and active states */
  transition: all 0.2s ease-out;
}
/* reset the style of the anchor link and button elements */
.project--controls a {
  color: inherit;
  text-decoration: none;
}
.project--controls button {
  background: none;
  border: none;
  font-family: inherit;
  cursor: pointer;
}
/* on hover increase the opacity */
.project--controls a:hover,
.project--controls button:hover {
  opacity: 1;
}
/* on focus increase the opacity */
.project--controls a:focus,
.project--controls button:focus {
  opacity: 1;
}
/* when active increase the opacity and scale up the element */
.project--controls a:active,
.project--controls button:active {
  opacity: 1;
  transform: scale(1.1);
}
/* for the svg inherit the color set on the text-based elements */
.project--controls svg {
  fill: currentColor;
  width: 42px;
  height: 42px;
  margin: 0.5rem;
}
/* on smaller viewports
- display the icon and the div nesting the project atop one another
- reduce the size of the icon
*/
@media (max-width: 700px) {
  .project {
    flex-direction: column;
  }
  .project__project {
    width: auto;
    max-width: 600px;
  }
  .project__icon {
    width: 92px;
    height: 92px;
  }
}

/** SECTION.SOCIAL */
/* display the anchor link elements and the connected message atop one another */
.social {
  min-height: 90vh;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* overflow hidden to cut out the background of the expanding pseudo element */
  overflow: hidden;
}
/* display the social icons side by side, in a wrapping row */
.social__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.social__links a {
  margin: 1rem;
  border-radius: 50%;
  /* position relative to absolute position the pseudo elements */
  position: relative;
}
/* detail colors, to have the pseudo element expand with a matching hue */
.social__links a:nth-of-type(1) {
  color: #3fb0fe;
}
.social__links a:nth-of-type(2) {
  color: #109121;
}
.social__links a:nth-of-type(3) {
  color: #545454;
}
.social__links a:nth-of-type(4) {
  color: #242424;
}
.social__links a:nth-of-type(5) {
  color: #923df2;
}
/* include an expanding background through a pseudo element */
.social__links a:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background: currentColor;
  border-radius: 50%;
  z-index: -10;
  opacity: 0.5;
}
/* the expanding background is applied through JavaScript, adding/removing a selected class */
.social__links a.hovered:before {
  /* transition included on hover to smoothen the expansion and not the contraction */
  transition: all 1.2s ease-out;
  width: 200vmax;
  height: 200vmax;
  opacity: 0.2;
}
.social__links a svg {
  width: 125px;
  height: 125px;
}
.social .social__copy {
  text-align: center;
  line-height: 2;
}

/* on smaller viewports
- reduce the size of the social icons
- reduce the duration of the epxansion-transition
*/
@media (max-width: 700px) {
  .social__links a svg {
    width: 90px;
    height: 90px;
  }
  .social__links a.hovered:before {
    transition-duration: 0.6s;
  }
}

/* define the animation added through javascript for the message matching the hovered anchor links */
@keyframes hovered {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* define the animation added through javascript for the projects' elements */
@keyframes showProject {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  50% {
    opacity: 50%;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
